

{{/*
    ## Music 163

    ### Params:

    - `id`

      required param
      you can extract from music url
      url format "http://music.163.com/#/song?id=3950552"

    - Fiddle `auto`

      optional param
      default value 0
      you can overwrite it with 1

    ### Examples:

    - Simple

      {{% nhaccuatui "AHX2SHdodJlR" %}}
      {{% nhaccuatui "AHX2SHdodJlR" "auto" %}}

    - Named Params

      {{% nhaccuatui id="AHX2SHdodJlR" %}}
      {{% nhaccuatui id="AHX2SHdodJlR" start="auto" %}}
      {{% nhaccuatui id="AHX2SHdodJlR" start="normal" %}}


*/}}

{{- /* DEFAULTS */ -}}
{{ $start := "auto" }}
{{- if .IsNamedParams -}}
  {{ $start := or (.Get "start") $start }}
  {{- if (eq $start "background") -}}
    <iframe src='https://www.nhaccuatui.com/mh/{{ $start }}/{{ .Get "id" }}' width="1" height="1"   frameborder="0" allowfullscreen allow="autoplay"></iframe>
  {{- else -}}
    <iframe src='https://www.nhaccuatui.com/mh/{{ $start }}/{{ .Get "id" }}' width="100%" height="382"   frameborder="0" allowfullscreen allow="autoplay"></iframe>
  {{- end -}}
{{- else -}}
  {{ $start := or (.Get 1) $start}}
  {{- if eq ($start) "background" -}}
    <iframe src="https://www.nhaccuatui.com/mh/{{ $start }}/{{ .Get 0 }}" width="1" height="1" frameborder="0" allowfullscreen allow="autoplay"></iframe>
  {{- else -}}
    <iframe src="https://www.nhaccuatui.com/mh/{{ $start }}/{{ .Get 0 }}" width=100% height="382" frameborder="0" allowfullscreen allow="autoplay"></iframe>
  {{- end -}}
{{- end -}}
